/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.main-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.left-side {
  width: 40%;
  background-image: url(pineapple.jpg);
}

.right-side {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.cta {
  padding: 60px 40px;
  font-size: 1.5rem;
}
.form {
  background-color: #f5f5f1;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

h2 {
  padding-left: 40px;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 15px 70px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.footer {
  padding-top: 20px;
  background-color: white;
  padding-left: 40px;
}
