/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background-color: #42532a;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Global variables */
:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.logo-container {
  background-color: rgba(226, 228, 227, 0.816);
  opacity: 0.85;
  text-align: center;
  font-size: 3.5rem;
  color: #42532a;
  font-weight: bold;
  position: relative;
  top: 10%;
}

.main-container {
  display: flex;
  justify-content: space-between;
  background-color: #e1c28e;
  min-height: 100vh;
  height: 100%;
  margin: 0 40px;
}

.left-side {
  width: 35%;
  background-image: url(pineapple.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.right-side {
  width: 65%;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Ensures it fills the available height */
}

.cta {
  padding: 50px 40px;
  font-size: 1.3rem;
  color: #42532a;
}

.form {
  background-color: #e2e4e3;
  padding: 30px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #42532a;
  flex-grow: 1; /* Makes form fill the remaining space */
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

input {
  padding: 10px;
  border-radius: 5px;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: #42532a;
}

.footer {
  padding: 40px 0 20px 20px;
  font-size: 1.2rem;
  color: #42532a;
}

button {
  border-radius: 10px;
  color: #42532a;
  background-color: #e2e4e3;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #d4d6d5;
}
