/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background-color: #42532a;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Global variables */
:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.main-container {
  display: flex;
  justify-content: space-between;
  background-color: #e1c28e;
  min-height: 100vh;
  height: 100%;
  margin: 0 40px 0 40px;
}

.left-side {
  width: 35%;
  background-image: url(pineapple.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.right-side {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.cta {
  padding: 60px 40px;
  font-size: 1.3rem;
  color: #42532a;
}

.form {
  background-color: #e2e4e3;
  padding: 30px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #42532a;
}

form {
  display: flex;
  gap: 100px;
}

h2 {
  padding-left: 40px;
}

.footer {
  padding: 30px 0 0 20px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #42532a;
  gap: 20px;
}

button {
  border-radius: 10px;
  color: #42532a;
  background-color: #e2e4e3;
}
